name: check

on:
  push:
    branches:
      -main
  pull_request:
  schedule:
    - cron: '1 2 5 * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: reitzig/texlive-base:2023.1
      options: --user root
      env:
        SRC_DIR: /__w/LNI/LNI

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Add x86_64-linuxmusl to PATH
        run: echo "/usr/local/texlive/2023/bin/x86_64-linuxmusl" >> $GITHUB_PATH

      - name: Build examples (using build.sh)
        run: /bin/entrypoint work

      - name: Upload build result
        uses: actions/upload-artifact@v3
        with:
          name: PDFs
          path: '/work/out'

      - name: Prepare GH pages content
#        if: github.ref == 'refs/heads/main'
        run: |
          set -e
          mkdir /tmp/gh-pages
          cd /tmp/gh-pages
          cp /__w/LNI/LNI/README.md index.md
          cp /work/out/*.pdf .
          apk install git

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
#        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: /tmp/gh-pages

      - name: Install dependencies for ctanify
        run: apk add perl-file-copy-recursive zip

      - name: Prepare for CTAN
        run: ./prepare_for_CTAN

      - name: Upload CTAN build
        uses: actions/upload-artifact@v3
        with:
          name: CTAN
          path: '*.tar.gz'
