name: check

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '1 2 5 * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          show-progess: ''
      - name: Install TeX Live
        uses: zauguin/install-texlive@v3
        with:
           package_file: Texlivefile
      - name: Generate lni.cls, *.tex, ...
        run: |
          pdflatex lni.dtx
          pdflatex lni.dtx
          pdflatex lni.dtx
      - name: Check for modifications
        run: |
          git update-index --refresh
          if ! git diff-index --quiet HEAD --; then
            echo "Worktree is not clean."
            git diff-index --name-status HEAD
            exit 1
          fi
      - name: Generate mybibfile.bib
        run: touch mybibfile.bib

      - run: pdflatex lni-author-template

      - run: pdflatex lni-paper-example-de
      - run: biber lni-paper-example-de
      - run: pdflatex lni-paper-example-de
      - run: pdflatex lni-paper-example-de

      - name: Upload build result
        uses: actions/upload-artifact@v3
        with:
          name: PDFs
          path: |
            'lni-author-template.pdf'
            'lni-paper-example*.pdf'

      - name: Prepare GH pages content
        if: github.ref == 'refs/heads/main'
        run: |
          set -e
          mkdir /tmp/gh-pages
          cp README.md /tmp/gh-pages/index.md
          cp *.pdf /tmp/gh-pages

      - name: Deploy to GH pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: /tmp/gh-pages

      - name: Install dependencies for ctanify
        run: sudo apt-get install -y perl-file-copy-recursive zip

      - name: Prepare for CTAN
        run: ./prepare_for_CTAN

      - name: Upload CTAN build
        uses: actions/upload-artifact@v3
        with:
          name: CTAN
          path: '*.tar.gz'
